<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="demo">
        <ul>
            <li v-for="(p, index) in persons" :key="index">
                {{index}}--{{p.name}}---{{p.age}}
                <button @click='deleteP(index)'>删除</button>
                <button @click="updated(index,{name:'liangyutao',age:20})">更新</button>
            </li>
            <button @click="add({id: 3, name: 'tao', age: 13 })">添加</button>
        </ul>
        <ul>
            <li v-for="(item, index) in persons[0]" :key="index">
                {{item.id}}--{{item.name}}---{{item.age}}
            </li>
        </ul>

    </div>
    <script src="../js/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#demo',
            data: {
                persons: [
                    { id: 1, name: 'liang', age: 11 },
                    { id: 2, name: 'yu', age: 12 },
                    { id: 3, name: 'tao', age: 13 }
                ],
            },
            methods: {
                deleteP(index) {
                    this.persons.splice(index, 1)
                },
                updated(index, msg) {
                    this.persons.splice(index, 1, msg)
                },
                add(msg) {
                    this.persons.push(msg)
                }
            },
        })
    </script>
</body>

</html>